html>body{
	margin: 0;
	background-color: #C0A165;
}

.navbar{
	background-color: #86693F;
	box-shadow: 0 3px 5px black;
}
@media (min-width: 992px) {
	.navbar {
		padding: 0 50px;
	}
}

.content-area{
	margin: 40px;
}

/* Anker verschieben, damit nicht vom fixed Header verdeckt */
a.anchor {
	display: block;
	position: relative;
	top: -66px;
	visibility: hidden;
}