.navbar{
	background-color: #8b6012;
}
@media (min-width: 992px) {
	.navbar {
		padding: 0 50px;
	}
}
/* Anker verschieben, damit nicht vom fixed Header verdeckt */
a.anchor {
	display: block;
	position: relative;
	top: -66px;
	visibility: hidden;
}